*{
  margin:0;padding:0;
  box-sizing:border-box;
}
html,body{
  width:100%;
}
h1{
  color:Black;
  text-align: center;
  font-weight: bold;
  font-size:175%;
  font-family: font-family: "Times New Roman", Georgia, Serif;
}
.row{
   width:100%;
   padding:5%;
}
div section{
  position: relative;
  background-color:#eee;
}

div h3{
  position: absolute;;
  top:0;
  right:0;
  border:1px solid black;
  width:40%;
  text-align: center;
  font-size:125%;
  font-family: "Times New Roman", Georgia, Serif;
}
h3.head-chicken{
  color: black;
  background-color: #eee;
}
h3.head-beef{
  color: white;
  background-color: red;
}
h3.head-sushi{
  color: black;
  background-color: yellow;
}

div p{
  margin-top:30px;
  padding:30px;
  text-align: left;
}

@media(min-width:992px) {
  .col-lg-3{
    border:1px solid black;
    float:left;
  }
  .col-lg-3{
    width:30%;
  }
  div section:nth-child(1){
    margin-right:5%;
  }
  div section:nth-child(2){
    margin-right:5%;
  }
  div section:nth-child(3){
    margin-right:0;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .col-md-2,.col-md-1{
    border:1px solid black;
    float:left;
  }
  .col-md-2{
    width:45%;
  }
  .col-md-1{
    overflow: hidden;
    width:100%;
  }
  div section:nth-child(1){
    margin-right:5%;
  }
  div section:nth-child(2){
    margin-left:5%;
  }
  div section:nth-child(3){
    margin-top:5%;
  }
}
@media (max-width:767px) {
  .col-sl-1{
    border:1px solid black;
    float:left;
  }
  .col-sl-1{
    width:100%;
  }
  div section{
    margin-top:5%;
  }
  div section:nth-child(1){
    margin-top:0;
  }
}
